# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large datasets
*.csv
*.zip

# Python cache
.pytest_cache/

# Temporary files
*.log

# Hugging Face cache
.cache/